<button class="btn btn-accent text-text">Accent</button>
<button
  disabled class="btn btn-accent">Accent disabled</button>
<button class="btn btn-accent">Accent with icon
  <%= inline_svg_tag "icons/outline/general/envelope.svg", class: "w-4 h-4" %></button>
<button class="btn btn-accent btn-lg">Accent large</button>

<button class="btn btn-accent btn-cta">Accent CTA</button>
<button class="btn btn-accent btn-lg btn-cta">Accent large CTA</button>
<button class="btn btn-accent btn-lg btn-cta">Accent large with icon CTA<%= inline_svg_tag "icons/solid/arrows/caret-right.svg", class: "w-4 h-4" %></button>
