<button class="btn btn-primary">Primary</button>
<button
  disabled class="btn btn-primary">Primary disabled</button>
<button class="btn btn-primary">Primary with icon
  <%= inline_svg_tag "icons/outline/general/envelope.svg", class: "w-4 h-4" %></button>

<button class="btn btn-primary btn-lg">Primary large</button>

<button class="btn btn-primary btn-cta">Primary CTA</button>
<button class="btn btn-primary btn-lg btn-cta">Primary large CTA</button>
<button class="btn btn-primary btn-lg btn-cta">Primary large with icon CTA<%= inline_svg_tag "icons/solid/arrows/caret-right.svg", class: "w-4 h-4" %></button>
