<button class="btn btn-secondary">Secondary</button>
<button
  disabled class="btn btn-secondary">Secondary disabled</button>
<button class="btn btn-secondary">Secondary with icon
  <%= inline_svg_tag "icons/outline/general/envelope.svg", class: "w-4 h-4" %></button>
<button class="btn btn-secondary btn-lg">Secondary large</button>

<button class="btn btn-secondary btn-cta">Secondary CTA</button>
<button class="btn btn-secondary btn-lg btn-cta">Secondary large CTA</button>
<button class="btn btn-secondary btn-lg btn-cta">Secondary large with icon CTA<%= inline_svg_tag "icons/solid/arrows/caret-right.svg", class: "w-4 h-4" %></button>
