<button class="btn btn-tertiary">Tertiary</button>
<button
  disabled class="btn btn-tertiary">Tertiary disabled</button>
<button class="btn btn-tertiary">Tertiary with icon
  <%= inline_svg_tag "icons/outline/general/envelope.svg", class: "w-4 h-4" %></button>
<button class="btn btn-tertiary btn-lg">Tertiary large</button>

<button class="btn btn-tertiary btn-cta">Tertiary CTA</button>
<button class="btn btn-tertiary btn-lg btn-cta">Tertiary large CTA</button>
<button class="btn btn-tertiary btn-lg btn-cta">Tertiary large with icon CTA<%= inline_svg_tag "icons/solid/arrows/caret-right.svg", class: "w-4 h-4" %></button>
