<button class="btn btn-link">Text Link</button>
<button
  disabled class="btn btn-link">Text Link disabled</button>
<button class="btn btn-link">Text Link with icon
  <%= inline_svg_tag "icons/outline/general/envelope.svg", class: "w-4 h-4" %></button>
