<div
  class="inline-flex items-center justify-center gap-1 p-2 rounded  bg-background-100"
>
  <% if @icon %>
    <%= inline_svg_tag "icons/#{@icon}.svg", class: "w-4 h-4" %>
  <% end %>
  <div class="font-semibold"><%= @label %></div>
</div>
